html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.wrapper {
  max-width: 1000px;
  text-align: center;
  font-size: medium;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
}
h3 {
  font-family: 'Quicksand', sans-serif;
}
#divider {
  border-color: black;
  border-width: 5px;
  margin-top: 15px;
  margin-bottom:25px;
  max-width: 80vw;
}

/* Main */
#main {
  background-image: url('file:///D:/webDev/myProjects/portfolio/assets/img/morning_192x1280.jpg');
  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;    
  max-height: 60%;
}
nav ul {
  background: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: large;
  font-weight: 100;
  letter-spacing: 2px;

  display:flex;
  align-self: flex-start;
}
nav a {
  width: 100%;
  display: inline-block;
  padding: 20px 5px;
  transition: all 0.2s ease;
  text-decoration: none;
  color: black;

  flex: 1;  
}
nav a:hover {
  background:rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: scale(1.1);
}
header{
  color: white;
  text-align: center;
  height: 45vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h2 {
  font-size: xx-large;
  text-shadow: 0px 0px 3px black;
}
header h3 {
  font-size: large;  
  text-shadow: 0px 0px 3px black;
}
#social {
  font-size: large;
  
  display: flex;
  justify-content: center;
}
#social a {
  padding: 10px 10px;
  color: white;
  transition: all 0.2s ease;  
}
#social a:hover {
  background:rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transform: scale(1.2);
}

/* Portfolio */
#portfolio {
  text-align: center;
}
#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#projects > * {
  margin: 10px;
  padding: 10px;
  width: 30%;
  box-shadow: 1px 1px 10px black;
}
#projects img {
  max-width:100%;
  max-height:100%;
}

/* Blog */
#blog {
  text-align: center;
}

/* About */
#about {
  text-align: center;
}
#profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#profile > * {
  margin: 10px;
  padding: 10px;
  width: 40%;
  box-shadow: 1px 1px 10px black;
}
#profile img {
  padding: 10px;
  margin: 10px;
  max-width: 70%;
}
#tools > * {
  padding: 10px;
  margin: 10px;
  width: 8em;
}

/* Contact */
#contact {
  text-align: center; 
  padding-bottom: 50px;
}
#emailForm {
  display: flex;
  justify-content: center;
}
form {
  width: 60%;
  box-shadow: 1px 1px 10px black;

  display: flex;
  justify-content: center;
}
form > * {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
form input, textarea {
  width: 90%;
  margin: 1%;
  padding: 1%;
  border: none;
  box-shadow: 1px 1px 10px black;
  font-family: 'Playfair Display', serif;
  font-size: medium;
}
input:focus, textarea:focus {
  background-color: lightblue;
}
#messageBox {
  height: 10em;
}
#send {
  transition: all 0.2s ease;
}
#send:hover {
  background-color: lightblue;
  cursor: pointer;
}

/* footer */
#footer {
  background: black;
  color: white;
  text-align: center;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-around;
}
#footer > * {
  width: 30%;
  line-height: 2em;
}
#footer-nav-links {
  display: flex;
  justify-content: center;
}
#footer-nav-links a {
  font-size: 1em;
  padding: 3px 20px;
  transition: all 0.2s ease;
  
  flex: 1 1 100%;
}
#footer-nav-links a:hover {
  background:rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-decoration: none;
  transform: scale(1.2);
}
#footer-social-icons {
  display: flex;
  justify-content: center;
}
#footer-social-icons a {
  font-size: 2em;
  padding: 0 15px;
  transition: all 0.2s ease;
}
#footer-social-icons a:hover {
  background:rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  transform: scale(1.2);
}
#footer a:visited {
  color: white;
}

@media all and (max-width:1000px) {
  /* Banner */
  nav ul {
    letter-spacing: 3px;

    flex-wrap: wrap;
  }
  nav a {
    flex: 1 1 50%;  
  }
  #about img {
    width: 10em;
  }
  #tools > * {
    padding: 10px;
    margin: 10px;
    width: 5.5em;
  }

@media all and (max-width:500px) {
  /* Banner */
  nav ul {
    font-size: medium;
    letter-spacing: 4px;
  }
  nav a {
    display: inline-block;
    padding: 10px;

    flex: 100%;  
  }
  header{
    height: 30vh;
  }
  header h2 {
    font-size: x-large;
  }
  header h3 {
    font-size: medium;  
  }
  #social {
    font-size: medium;
  }

  /* Portfolio */
  #projects {
    font-size: small;
  }
  #projects h2 {
    font-size: small;
  }

  /* About */
  #about {
    font-size: small;
  }
  #tools > * {
    padding: 8px;
    margin: 8px;
    width: 4.9em;
  }
}

/* http://www.skyballoondesign.com/wp-content/uploads/2016/12/Home-Banner.jpg

#ffffff

#000000

#4C9CDD */
#4C9CDD */